[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-location-field = "*"
python-decouple = "*"
social-auth-core = {git = "https://github.com/python-social-auth/social-core"}
social-auth-app-django = "*"
gunicorn = "*"
django-crispy-forms = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"
